OPENAI_API_KEY=your_openai_api_key_here
OPENAI_MODEL=gpt-4o-mini

DB_HOST=localhost
DB_PORT=5432
DB_NAME=complaintdb
DB_USER=complaint_user
DB_PASSWORD=complaint_pass

LAW_API_OC=your_law_open_api_key_here

COMPLAINT_BIGDATA_API_KEY=your_complaint_bigdata_api_key_here
COMPLAINT_BIGDATA_BASE_URL=http://apis.data.go.kr/1140100/minAnalsInfoView5


POLICY_QNA_API_KEY=
POLICY_QNA_BASE_URL=http://apis.data.go.kr/1140100/CivilPolicyQnaService

DEPARTMENT_HISTORY_XLSX=data/department_history/complaint_department_history.xlsx